.achievement{
	width: 95%;
	/*	max-width:350px;
	min-width:300px;*/
	background-color:#B2B2A1;
	/*	display:inline-block;*/
	padding:10px;
	margin:10px;
	float:left;
	position:relative;
	border: 2px solid #143C52;
	color:#143C52;
	border-radius:10px;
	min-height:55px;
}

.achievement div img{
	width: 60px;
	float:left;
	position:absolute;
	padding:5px;
	top: 10px;
	border-width:2px;
	border-color:#143C52;
	background-color:#E6E6D0;
}

.achievement-contents h2{
	display:inline;
	margin-bottom:5px;
	text-transform:capitalize;
	font-size:1.2em;
}

.achievement-contents{
	display:block;
	position:relative;
	padding:5px;
	margin-left:65px;
	font-size:0.8em;
}

.achievement-contents ol{
	margin-top:0.5em;
}

.achievement-contents li{
	margin-left: 1.5em;
}

.progressbar {
	background-color: #143C52;
	border-radius: 6px; /* (height of inner div) / 2 + padding */
	padding: 3px;
	margin-top:7px;
}

.progressbar div {
	background-color: #E7DE42;
	height: 5px;
	border-radius: 5px;
	width:0%;
	text-align:right;
	font-height:5px;
	font-color:white;
}

#footnote-1{
	padding-top:15px;
}

#two-open-source{
	width:0%;
}

#five-open-source{
	width:0%;
}

#contribute-three-open-source{
	width:0%;
}

#three-non-technical{
	width:33%;
}

#five-non-technical{
	width:20%;
}

#forty-posts{
	width:7.5%;
}