body > header {
  background: $header-bg;
  h1 {
    font-size: 1.3em;
    font-family: "Impact", sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0;
    text-color: #efefef;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    font-size: 0.7em;
    font-family: "Source Code Pro", "Courier", "Menlo", monospace;
    color: $subtitle-color;
    font-weight: normal;
  }
}