// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$header-bg: #2C424D;
$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten($header-bg, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: #FFF0DB;
//$sidebar-link-color: saturate(#AD3E47, 10);
//$sidebar-link-color-hover: darken($sidebar-link-color, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          #2B2C30; //darkest blue
$base02:          lighten($base03, 10); //dark blue
$base01:          lighten($base02, 10); //darkest gray
$base00:          lighten($base01, 10); //dark gray
$base0:           lighten($base00, 20); //medium gray
$base1:           lighten($base0, 10); //medium light gray
//$base2:           #BDB7A6; //cream
//$base3:           lighten($base2, 10); //white
$solar-yellow:    #D9B636;
$solar-orange:    #E5535E;/* "if" */
$solar-red:       #B4354E;
$solar-magenta:   #D850A0;
$solar-violet:    #8D50A0;
$solar-blue:      lighten(#247BD4, 10); /* basically all code - class names, method calls without parameters, method parameters */
$solar-cyan:      #C2464F;/* "int", "BOOL", integers, strings */
$solar-green:     #6BC993; /* method signatures that have parameters, method name calls */


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
